.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background: #faf3e0;
    padding: 20px;
    border-radius: 32px;
    max-width: 361px;
    width: 90%;
    text-align: center;
}