.authNav {
  width: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  border-bottom: none;
}

.isActive {
  border-bottom: 1px solid #fff;
}

.asBTN {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 12px 16px;
  background: #9b6c43;
  font-size: 16px;
}
