/* Контейнер для списку */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-bottom: 24px;
  width: 100%;
}

.item {
  height: 100%; /* кожна li/картка тягнеться */
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .item {
    max-width: 339px; /* як у макеті */
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .item {
    max-width: 288px; /* як у макеті */
  }
}

/* Повідомлення */
.empty,
.error {
  margin: 24px 0;
  text-align: center;
  color: #6b6259;
  font-size: 16px;
}

/* Скелетон */
.skCard {
  position: relative;
  border-radius: 16px;
  border: 1px solid #eee7df;
  padding: 12px;
  overflow: hidden;
}

.skThumb {
  aspect-ratio: 4/3;
  border-radius: 12px;
  margin-bottom: 10px;
}

.skLine {
  height: 18px;
  border-radius: 6px;
  margin: 8px 0;
}

.skLineSm {
  height: 12px;
  width: 70%;
  border-radius: 6px;
}

.skThumb,
.skLine,
.skLineSm {
  background: linear-gradient(90deg, #eee 25%, #f4f4f4 37%, #eee 63%);
  background-size: 400% 100%;
  animation: sh 1.2s ease-in-out infinite;
}

@keyframes sh {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
